:root {
  --bg: #ffffff;
  --text: #000000;
  --textSoft: #93949a;
  --buttonColor: #ff6100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.uppy-Container {
  width: 100% !important;
}
.uppy-Root {
  width: 100% !important;
}

.uppy-Dashboard-inner {
  width: 100% !important;
}
